extends layout

// Define basic data fields using Jade's mixin features
// Bind to those data fields for dynamic updates

block styles
  // link(rel='stylesheet', href='/stylesheets/dashboard.css')
  link(rel='stylesheet', href='/stylesheets/vis.min.css')
  link(rel='stylesheet', href='/stylesheets/basic.css')

block scripts
  // bind to the data fields defined in mixin
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/client.socket.io.js')
  script(src='/javascripts/vis.min.js')
  script(src='http://filamentgroup.github.com/EnhanceJS/enhance.js')
  //script(src='/javascripts/canvasjs.min.js')
  //script(src='https://www.google.com/jsapi')

block content
  div(style="visibility:'hidden'")
    select(id="strategy")
      option(value="continuous" selected)
  div(id="visualization")

  script.
    var DELAY = 1000; // delay in ms to add new data points
    var names = ['','Total Tweets', 'Positive Sentiment Tweets', 'Negative Sentiment Tweets'];
    var strategy = document.getElementById('strategy');
    // create a graph2d with an (currently empty) dataset
    var container = document.getElementById('visualization');
    var dataset = new vis.DataSet();

    var groups = new vis.DataSet();
    groups.add({
        id: 1,
        content: names[1],
        options: {
            drawPoints: {
                style: 'circle' // square, circle
            },
            shaded: {
                orientation: 'bottom' // top, bottom
            }
        }});

    groups.add({
        id: 2,
        content: names[2],
        options: {
            drawPoints: {
                style: 'circle' // square, circle
            },
            shaded: {
                orientation: 'bottom' // top, bottom
            }
        }});	

    groups.add({
        id: 3,
        content: names[3],
        options: {
            drawPoints: {
                style: 'circle' // square, circle
            },
            shaded: {
                orientation: 'bottom' // top, bottom
            }
        }});

    var options = {
      defaultGroup: 'ungrouped',
      legend: true,
      start: vis.moment(1427329087738).add(100, 'seconds'), 
      //start: vis.moment('Sun Mar 26 2015 21:30:00 GMT-0400').add(-30, 'seconds'), // changed so its faster
      end: vis.moment(1427329487738),
      dataAxis: {
        customRange: {
          left: {
            min:0, max: 50
          }
        }
      }
    };
    var graph2d = new vis.Graph2d(container, dataset, groups, options);

    // a function to generate data points
    function y(x) {
      return (Math.sin(x / 2) + Math.cos(x / 4)) * 5;
    }

    renderStep();

    //addDataPoint();
