doctype html
html
  head
    title= title
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    block styles
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    block scripts
  body
    block content
      // Add any default content if any
  
